.container {
    display: flex;
    width: 100dvw;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    background: grey;
}

.movieWrap {
    width: 550px;
    height: 600px;
    border-radius: 15px;
    background: #fff;
    padding: 15px 20px;
    position: relative;
}