.container {
    display: flex;
    width: 100dvw;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    background: grey;
    opacity: 0.6;
}

.movieWrap {
    min-width: 550px;
    min-height: 600px;
    border-radius: 15px;
    background: #fff;
    padding: 15px 20px;
}